@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
font-family: Roboto, Arial, san-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  color-scheme: light;
}


html,
body {
  max-width: 100vw;
}

.btn-primary {
  @apply w-full rounded-full p-3 border border-slate-300 font-medium text-lg;
}
.input-field {
  @apply bg-slate-50 border text-gray-900 rounded-md  block w-full pl-10 p-4 placeholder:text-base focus:outline-none;
}
.alert {
  @apply w-full flex items-center gap-4 p-3 rounded-md  border font-medium;
}

.active svg {
  @apply fill-blue-600;
}
.active span {
  @apply text-blue-600;
}

.styled-label input[type="radio"] ~ span {
  @apply bg-slate-100 rounded-full mx-2 py-2 px-4 text-blue-800;
}

.styled-label input[type="radio"]:checked ~ span {
  @apply bg-blue-200 rounded-full mx-2 py-2 px-4 text-blue-800;
}
.filter-label input[type="checkbox"] ~ span {
  @apply bg-slate-100 rounded-full mx-2 py-2 px-4 text-blue-800;
}

.filter-label input[type="checkbox"]:checked ~ span {
  @apply bg-blue-200 rounded-full mx-2 py-2 px-4 text-blue-800;
}

.hero-background {
  background: url("/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}




/* Override styles for date picker when device is in dark mode */
.CalendarDay__selected {
  background-color: blue !important;
   border: blue !important;
  color: white !important; 

}
.CalendarDay__selected_span {
  background-color:rgba(0, 0, 255, 0.493) !important;
  color: white !important; 
  border:rgba(0, 0, 255, 0.493) !important  ;
}
.DateInput_input{
  @apply !text-xs
}
.DateInput{
  @apply !w-[100px] md:!w-auto
}

